<!--%= render '/refinery/content_page' %-->
<div id="banner_content">
  <div id="banner_content1"><img width="197" height="173" src="images/banner_content1.png"></div>
  <div id="banner_content2"><img width="200" height="173" src="images/banner_content2.png"></div>
  <div id="banner_content3"><img width="186" height="173" src="images/banner_content3.png"></div>
</div>
<div id="categoryes">
  <div id="top_categoryes"></div>
  <div id="middle_menu">
    <div id="middle_menu1">
      <img width="90" height="92" src="images/icon_middle_menu1.png">
      <h2>Компьютеры и оргтехника</h2>
      <ul>
        <li><a href="#">Ноутбуки, КПК</a></li>
        <li><a href="#">Комплектующие</a></li>
        <li><a href="#">Расходные материалы</a></li>
        <li><a href="#">Серверное оборудование</a></li>
      </ul>
    </div>
    <div id="middle_menu2">
      <img width="73" height="92" src="images/icon_middle_menu2.png">
      <h2>Мебель и интрерьер</h2>
      <ul>
        <li><a href="#">Мебель для дома</a></li>
        <li><a href="#">Офисная мебель</a></li>
        <li><a href="#">Предметы интерьера</a></li>
      </ul>
    </div>
    <div id="middle_menu3">
      <img width="109" height="92" src="images/icon_middle_menu3.png">
      <h2>Одежда, обувь</h2>
      <ul>
        <li><a href="#">Женская одежда</a></li>
        <li><a href="#">Мужская одежда</a></li>
        <li><a href="#">Детская одежда</a></li>
        <li><a href="#">Обувь</a></li>
      </ul>
    </div>
  </div>      
</div>
<div id="running_line">Здесь бегущая строка</div>
<div id="inet_shops">
  <div id="inet_shops_top"></div>
  <div id="slider">
    <div id="array_left"></div>
    <div id="array_right"></div>
    <div id="slide1" style="">
      <img width="232" height="119" src="images/slide1.png">
    </div>
    <div id="slide2">
      <img width="233" height="119" src="images/slide2.png">
    </div>
    <div id="slide3">
      <img width="232" height="131" src="images/slide3.png">
    </div>
    <div id="slide4">
      <img width="232" height="131" src="images/slide4.png">
    </div>
  </div>
</div>
