<div id="flash">	 
  <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="1280" height="626" id="flash" align="middle">
    <param name="allowScriptAccess" value="sameDomain" />
    <param name="movie" value="./flash.swf" /><param name="quality" value="high" /><param name="wmode" value="transparent" /><param name="bgcolor" value="#000000" /><embed src="flash.swf" quality="high" wmode="transparent" bgcolor="#000000" width="1280" height="626" name="flash" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
  </object>
  <div id="fb"><a href="http://www.facebook.com/"><img src="../images/fb.png" width="102" height="131" alt="Facebook" /></a></div>	
  <div id="vk"><a href="http://www.vk.com/"><img src="../images/vk.png" width="80" height="203" alt="VK" /></a></div>
  <div id="about"><a href="#">О проекте IGN</a></div>
  <div id="uslugi">
    <%= link_to "Услуги", refinery.services_services_path %>
  </div>
  <div id="home"><a href="#">Сделать домашней страницей</a></div>
  <div id="contact"><a href="#">Контакты</a></div>
  <div id="catalog">
    <%= link_to "В каталог - жми на IGN", refinery.categories_categories_path %>
  </div>
  <div id="forum"><a href="#">Форум</a></div>
  <div id="login">
    <%= link_to "Зарегистрироваться", refinery.new_refinery_user_registration_path %>
  </div>
  <div id="search_title"><a href="#">Поиск по каталогу</a></div>
</div>	
<div id="footer"> 
  <div id="share"> </div>
  <div id="copyright"><a href="#">Все права защищены © IGN</a></div>
</div>


