/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@charset "utf-8";
*{
	margin: 0px;
	padding: 0px;
}
body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: Tahoma, Verdana, Arial;
	font-size: 12px;
	background-image: url(../images/space.png);
}
#wrap {
	position: relative;
	margin: 0px auto;
	min-height: 1400px;
	width: 1070px;
}
#space_top {
	background-image: url(../images/space_top.png);
	height: 647px;
	width: 1070px;
	position: absolute;
}
#space_bottom {
	background-image: url(../images/space_bottom.png);
	height: 455px;
	width: 1070px;
	position: absolute;
	bottom: 0px;
}