#slides {
	position: relative;
	margin-left: 19px;
	background-image: url(../images/slider_bg_.png);
	height: 288px;
	width: 558px;
	padding: 20px 0 0 75px;
}
.slide {
	display:block;
  width: 588px;  
  height: 288px;
}
.slide div{
	float: left;
	padding: 0 17px 9px 0;
	height: 131px;
	width: 250px;
}
.slides_container {
	display:none;
}    

.prev, .next{
	height: 42px;
	width: 33px;
	position: absolute;
	top: 130px;
}
.prev {
	left: 7px;  
	background-image: url(../images/array_left.png);  
}
.next {
	background-image: url(../images/array_right.png);
	right: 10px;
  z-index: 10;
}
#array_left2{
  top: 50px;
}
#array_right2 {
	top: 50px;
  right: 11px;
}
#slides2 {
	margin-left: 5px;
	padding: 27px 50px 27px 46px;
	position: relative;
	background-image: url(../images/slider_bg.png);
	height: 92px;
	width: 560px;
}
.slide2 {
  	display:block;
  width: 560px;  
  height: 92px;
}

.slide2 div{
	height: 92px;
	width: 560px;
}

#running_line {
  overflow:hidden;  
	padding-top: 3px;
	margin-bottom: 25px;
	font-size: 18px;
	color: #FFF;
	background-image: url(../images/running_line_bg.png);
	background-repeat: repeat-y;
	text-align: center;
	height: 30px;
}
#running_line div.move {
    overflow:hidden;
    width:99999px;
}
