.backdrop_S, .backdrop_R
		{
			position:absolute;
			top:0px;
			left:0px;
			width:100%;
			height:100%;
			background:#000;
			opacity: .0;
			filter:alpha(opacity=0);
			z-index:50;
			display:none;
		}
 
 
.box_S, .box_R
		{
			position:absolute;
			top:20%;
			left:30%;
			width:500px;
			height:300px;
			background:#ffffff;
			z-index:51;
			padding:10px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			-moz-box-shadow:0px 0px 5px #444444;
			-webkit-box-shadow:0px 0px 5px #444444;
			box-shadow:0px 0px 5px #444444;
			display:none;
		}
 
.close_S, .close_R
		{
			float:right;
			margin-right:6px;
			cursor:pointer;
		}
.fancybox-iframe
    {
    border: 0 none;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 100%;
    outline: 0 none;
    }