#bottom {
	padding-left: 100px;
	margin-top: 85px;
	position: relative;
	height: 145px;
}
#bottom_menu1, #bottom_menu2, #bottom_menu3, #bottom_menu4 {
	background-image: url(../images/bottom_menu_bg.png);
	float: left;
	height: 120px;
	width: 189px;
	margin-right: 8px;
	padding: 15px 0 0 12px;
}
#bottom_menu1 h2, #bottom_menu2 h2, #bottom_menu3 h2, #bottom_menu4 h2 {
	color:#FFFFFF;
	margin: 0 0 8px 0;
	padding: 0 0 2px 0;
	float: left;
	clear: both;
	border-bottom: 2px dotted;
	font-size: 16px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}
#bottom_menu1 ul, #bottom_menu2 ul, #bottom_menu3 ul, #bottom_menu4 ul {
	margin: 0;
	padding: 0;
	list-style-position: inside;
	list-style-type: none;
}
#bottom_menu1 ul li, #bottom_menu2 ul li, #bottom_menu3 ul li, #bottom_menu4 ul li {
	margin: 0px 0 5px;
	padding: 0;
}
#bottom_menu1 ul li a, #bottom_menu2 ul li a, #bottom_menu3 ul li a, #bottom_menu4 ul li a {
	color: #fff;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
#logo_bottom {
	position: relative;
	top: 30px;
}
