#header {
	position: relative;
	min-height: 215px;
	margin-bottom: 22px;
}
#logo_top {
	position: absolute;
	left: 138px;
	top: 28px;
}
a img {
	border: none;
}
#top_banners {
	clear: both;
	float: right;
	padding-top: 3px;
	padding-right: 50px;
}
#top_banner1 {
	background-image: url(../images/banner_top1.png);
	float: left;
	height: 62px;
	width: 207px;
	margin-right: 4px;
}
#top_banner2 {
	background-image: url(../images/banner_top2.png);
	float: left;
	height: 62px;
	width: 229px;
	margin-right: 4px;
}
#top_banner3 {
	background-image: url(../images/banner_top3.png);
	float: left;
	height: 62px;
	width: 190px;
}
#form_search {
	float: right;
	clear: right;
	margin: 28px 120px 0 0;
	padding: 0 0 0 50px;
	background-image: url(../images/search.png);
	background-repeat: no-repeat;
}
#search {
	border: none;
	background: none;
	margin: 2px 0 7px 0;
	padding: 0px 10px 0px 0px;
	float: left;
	clear: both;
	height: 38px;
	width: 411px;
	line-height: 38px;
	font-size: 14px;
	vertical-align: text-bottom;
	font-family: Verdana, Geneva, sans-serif;
}
#submit {
	
	margin-left: 10px;
}
.clear {
	clear: both;
	float: none;
}
/*--top menu.............................................................................*/
#top_menu_conteiner {
	width: 912px;
	padding: 18px 0 0 92px;
	margin-bottom: 22px;
	margin-bottom: 22px;
}
#soc_seti {
	height: 17px;
}
#logo_soc_seti {
	float: right;
}
#top_menu {
	height: 34px;
	background-image: url(../images/top_menu_bg.png);
	background-repeat: repeat-x;
	background-position: bottom;
	padding-top: 6px;
}
.side_top_menu {
	background-image: url(../images/top_menu_side.png);
	background-repeat: no-repeat;
	float: left;
	height: 34px;
	width: 1px;
}
#top_menu_body {
	float: left;
	height: 34px;
	width: 910px;
}
ul#top_menu_body li {
	text-shadow: #fff 0 1px 0;
	float: left;
	list-style-position: inside;
	list-style-type: none;
	background-image: url(../images/top_menu_separator.png);
	background-repeat: no-repeat;
	background-position: left;
}
ul#top_menu_body li a {
	text-shadow: #fff 0 1px 0;
	font-weight: bold;
	text-align: center;
	padding: 9px 4em 0;
	display: block;
	height: 25px;
	text-decoration: none;
	color: #000;
}
ul#top_menu_body li:first-child {
	background-image: none;
}