@charset "utf-8";
*{
	margin: 0px;
	padding: 0px;
}
body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: Tahoma, Verdana, Arial;
	font-size: 12px;
	background-image: url(../images/space.png);
}
#wrap {
	position: relative;
	margin: 0px auto;
	min-height: 1400px;
	width: 1070px;
}
#space_top {
	background-image: url(../images/space_top.png);
	height: 647px;
	width: 1070px;
	position: absolute;
}
#space_bottom {
	background-image: url(../images/space_bottom.png);
	height: 455px;
	width: 1070px;
	position: absolute;
	bottom: 0px;
}
/*--header.................................................................................*/
#header {
	position: relative;
	min-height: 215px;
	margin-bottom: 22px;
}
#logo_top {
	position: absolute;
	left: 138px;
	top: 28px;
}
a img {
	border: none;
}
#top_banners {
	clear: both;
	float: right;
	padding-top: 3px;
	padding-right: 50px;
}
#top_banner1 {
	background-image: url(../images/banner_top1.png);
	float: left;
	height: 62px;
	width: 207px;
	margin-right: 4px;
}
#top_banner2 {
	background-image: url(../images/banner_top2.png);
	float: left;
	height: 62px;
	width: 229px;
	margin-right: 4px;
}
#top_banner3 {
	background-image: url(../images/banner_top3.png);
	float: left;
	height: 62px;
	width: 190px;
}
#form_search {
	float: right;
	clear: right;
	margin: 28px 120px 0 0;
	padding: 0 0 0 50px;
	background-image: url(../images/search.png);
	background-repeat: no-repeat;
}
#search {
	border: none;
	background: none;
	margin: 2px 0 7px 0;
	padding: 0px 10px 0px 0px;
	float: left;
	clear: both;
	height: 38px;
	width: 411px;
	line-height: 38px;
	font-size: 14px;
	vertical-align: text-bottom;
	font-family: Verdana, Geneva, sans-serif;
}
#submit {
	
	margin-left: 10px;
}
.clear {
	clear: both;
	float: none;
}
/*--top menu.............................................................................*/
#top_menu_conteiner {
	width: 912px;
	padding: 18px 0 0 92px;
	margin-bottom: 22px;
	margin-bottom: 22px;
}
#soc_seti {
	height: 17px;
}
#logo_soc_seti {
	float: right;
}
#top_menu {
	height: 34px;
	background-image: url(../images/top_menu_bg.png);
	background-repeat: repeat-x;
	background-position: bottom;
	padding-top: 6px;
}
.side_top_menu {
	background-image: url(../images/top_menu_side.png);
	background-repeat: no-repeat;
	float: left;
	height: 34px;
	width: 1px;
}
#top_menu_body {
	float: left;
	height: 34px;
	width: 910px;
}
ul#top_menu_body li {
	text-shadow: #fff 0 1px 0;
	float: left;
	list-style-position: inside;
	list-style-type: none;
	background-image: url(../images/top_menu_separator.png);
	background-repeat: no-repeat;
	background-position: left;
}
ul#top_menu_body li a {
	text-shadow: #fff 0 1px 0;
	font-weight: bold;
	text-align: center;
	padding: 9px 4em 0;
	display: block;
	height: 25px;
	text-decoration: none;
	color: #000;
}
ul#top_menu_body li:first-child {
	background-image: none;
}
/*--left sidebar..........................................................................*/
#left_sidebar {
	z-index: 10;
	position: relative;
	float: left;
	width: 254px;
	padding-left: 88px;
}
#top_left_menu {
	background-image: url(../images/top_left_menu.png);
	background-repeat: no-repeat;
	height: 47px;
	width: 254px;
}
/*--left menu.............................................................................*/
#left_menu {
	position: relative;
	float: left;
	width: 254px;
	background-image: url(../images/left_menu_bg.png);
	background-repeat: repeat-y;
	padding: 18px 0 15px;
	background-position: right;
	margin-top: -9px;
}
ul#left_menu_body {
	padding: 0 5px 0 13px;
	list-style-position: inside;
	list-style-image: none;
	list-style-type: none;
}
#left_menu_body li {
	background-color: #004C77;
	float: left;
	clear: left;
	margin-bottom: 3px;
	width: 230px;
  /*    */
  -moz-border-radius: 11px; /* Firefox */
  -webkit-border-radius: 11px; /* Safari, Chrome */
  -khtml-border-radius: 11px; /* KHTML */
  border-radius: 11px; /* CSS3 */
  /*   IE */
  behavior: url(border-radius.htc); /*  IE border-radius */
}
html[xmlns*=""] ul#left_menu_body li {
	background-color: #20b2fd; /*069BEF*/
}
ul#left_menu_body li a {
	font-size: 13px;
	font-weight: bold;
	display: block;
	height: 22px;
	text-decoration: none;
	color: #fff;
	padding: 3px 6px 0;
}

ul#left_menu_body li:hover {
	background-color: #b82b2b; /*069BEF, 20b2fd*/ 
}

ul#left_menu_body li a{
	color: #fff;
	float: left;
}
ul#left_menu_body li a:hover{
/*	background: url(topnav_hover.gif) no-repeat center top;*/
}
ul#left_menu_body li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 35px;
	float: left;
}
ul#left_menu_body li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul#left_menu_body li ul.subnav {
	font-weight: bold;
  list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 254px;
/*  top: 0px; */
	background: transparent;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
}
ul#left_menu_body li ul.subnav li{
	margin: 0; 	padding: 3px 6px 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 230px;
  height: 25px;
}
html ul#left_menu_body li ul.subnav li a {
	float: left;
	width: 230px;
	padding-left: 20px;
}
html ul#left_menu_body li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
  background: #b82b2b; /*url(dropdown_linkbg.gif) no-repeat 10px center; */
}

#banner_left {
	float: left;
	height: 400px;
	width: 240px;
	padding-right: 32px;
	padding-left: 8px;
}
/*--content..........................................................................*/
#content {
	position: relative;
	padding-bottom: 15px;
	float: left;
	min-height: 400px;
	width: 668px;
	background-image: url(../images/content_bg.png);
	background-repeat: repeat-y;
}
.content_top_bot {
	background-image: url(../images/content_top_bot.png);
	background-repeat: no-repeat;
	height: 5px;
	width: 668px;
}
#content_bot {
	background-image: url(../images/content_top_bot.png);
	background-repeat: no-repeat;
	height: 5px;
	width: 668px;
	position: absolute;
	bottom: 0px;
}
.categoryes {
	margin: 5px 0 0 4px;
	background-image: url(../images/categoryes_bg.png);
	height: 134px;
	width: 660px;		
}
.icon_category {
	padding: 17px 10px;
	float: left;
	height: 100px;
	width: 155px;
}
.category_text {
	color: #fff;
	padding: 6px 5px 0 175px;
}
.category_text h2{
	color:#FFF !important;
	font-size: 13px;	
}
.category_text .out_link{
	display: block;
	background-color: #0A243F;
	color: #92D8FF;
	font-size: 14px;
	text-align: center;
	height: 20px;
	margin: 5px;
	border-right: 1px solid #6F6A7A;
	border-bottom: 1px solid #6F6A7A;
}
.line {
	height: 1px;
	width: 275px;
	margin: 8px auto 6px;
	border-top: 1px dotted #FFF;
}
.onshop_container {
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
}
.onshop_container > h1 {
	height: 33px;
	padding-top: 12px;
	text-align: center;
	font-weight: normal;
	font-size: 15px;
	text-shadow: #CECDD0 1px 0px 0;
	font-family: Arial, Helvetica, sans-serif;
}
.onshop {
	padding: 8px 19px 0;
	border: #E8E8E7 1px solid;
	margin: 0 auto;
	background-image: url(../images/onshop_bg.png);
	min-height: 489px;
	width: 620px;	
}
.shop_url {
	padding-left: 19px;
	color: #92D8FF;
	font-weight: bold;
	font-size: 16px;
	float: left;
}
.onshop > h2 {
	padding: 3px 0 0;
	margin: 0;
	text-align: center;
	margin-left: 19px;
	font-size: 14px;
}
.contacts {
	background-color: #DFDFE2;
	color:#000;
	margin: 12px -18px 0;
	padding: 10px 18px 10px 18px;
	font-family: Tahoma, Geneva, sans-serif;
}
.map {
	background-image: url(../images/map.png);
	margin: 40px auto;
	height: 251px;
	width: 484px;	
}
#count_pages  {
	padding-top: 25px;
	text-align: center;
	color:#FFF;
}

#count_pages  a{
	color:#FFF;
}

/*--bottom...........................................................................*/
#bottom {
	padding-left: 100px;
	margin-top: 85px;
	position: relative;
	height: 145px;
}
#bottom_menu1, #bottom_menu2, #bottom_menu3, #bottom_menu4 {
	background-image: url(../images/bottom_menu_bg.png);
	float: left;
	height: 120px;
	width: 189px;
	margin-right: 8px;
	padding: 15px 0 0 12px;
}
#bottom_menu1 h2, #bottom_menu2 h2, #bottom_menu3 h2, #bottom_menu4 h2 {
	color:#FFFFFF;
	margin: 0 0 8px 0;
	padding: 0 0 2px 0;
	float: left;
	clear: both;
	border-bottom: 2px dotted;
	font-size: 16px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}
#bottom_menu1 ul, #bottom_menu2 ul, #bottom_menu3 ul, #bottom_menu4 ul {
	margin: 0;
	padding: 0;
	list-style-position: inside;
	list-style-type: none;
}
#bottom_menu1 ul li, #bottom_menu2 ul li, #bottom_menu3 ul li, #bottom_menu4 ul li {
	margin: 0px 0 5px;
	padding: 0;
}
#bottom_menu1 ul li a, #bottom_menu2 ul li a, #bottom_menu3 ul li a, #bottom_menu4 ul li a {
	color: #fff;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
#logo_bottom {
	position: relative;
	top: 30px;
}




#form_top {
	margin: 0 auto;
	background-image: url(../images/form_top.png);
	height: 9px;
	width: 640px;	
}

#shop{
	margin: 0 auto;
	background: url(../images/form_bg.png) repeat-y;
  height: 820px;
	width: 640px;	
}

#shop .button {
/*	margin-left: 220px;*/
	margin-top: 20px;
	background: url(../images/button.png) no-repeat;
	width: 212px;
	float: left;
	height: 39px;
	margin-left: 50px;
	padding-bottom: 20px;
	}

#shop .close_dialog {
background: url(../images/cancel.png) no-repeat;
	width: 139px;
	height: 39px;
	float:left;
	margin-left: 130px;
	margin-top: 20px;
	padding-bottom: 20px;
	
	}

#shop .field {
padding-top: 10px;
float: left;
}

#shop label {
color: #000;
float: left;
font-size: 14px;
font-weight: bold;
padding-left: 20px;
/*padding-top: 10px;*/
padding-right: 20px;
}

#shop .short {
background: url(../images/short.png) no-repeat ;
	height: 109px;
	width: 443px;	
	float: left;
	}
	
#shop .full {
background: url(../images/full.png) no-repeat;
	height: 231px;
	width: 443px;	
	float: left;
	}
	
#shop .cat {
background: url(../images/cat.png) ;
	height: 34px;
	width: 314px;	
	float: left;
	}
	
#shop .vip {
background: url(../images/vip.png) ;
	height: 25px;
	width: 193px;	
	float: left;
	}

#shop .punkt {
background: url(../images/punkt.png) ;
	height: 25px;
	width: 345px;	
	float: left;
	}

#form_bottom {
	margin: 0 auto;
	background-image: url(../images/form_bottom.png);
	height: 9px;
	width: 640px;	
}



