/*--left sidebar..........................................................................*/
#left_sidebar {
	z-index: 10;
	position: relative;
	float: left;
	width: 254px;
	padding-left: 88px;
}
#top_left_menu {
	background-image: url(../images/top_left_menu.png);
	background-repeat: no-repeat;
	height: 47px;
	width: 254px;
}
/*--left menu.............................................................................*/
#left_menu {
	position: relative;
	float: left;
	width: 254px;
	background-image: url(../images/left_menu_bg.png);
	background-repeat: repeat-y;
	padding: 18px 0 15px;
	background-position: right;
	margin-top: -9px;
}
ul#left_menu_body {
	padding: 0 5px 0 13px;
	list-style-position: inside;
	list-style-image: none;
	list-style-type: none;
}
#left_menu_body li {
	background-color: #004C77;
	float: left;
	clear: left;
	margin-bottom: 3px;
  /*    */
  -moz-border-radius: 11px; /* Firefox */
  -webkit-border-radius: 11px; /* Safari, Chrome */
  -khtml-border-radius: 11px; /* KHTML */
  border-radius: 11px; /* CSS3 */
  /*   IE */
  behavior: url(border-radius.htc); /*  IE border-radius */
}
html[xmlns*=""] ul#left_menu_body li {
	background-color: #20b2fd; /*069BEF*/
}
ul#left_menu_body li a {
	font-size: 13px;
	font-weight: bold;
	display: block;
	height: 22px;
	text-decoration: none;
	color: #fff;
	padding: 3px 6px 0;
}
#banner_left {
	float: left;
	height: 400px;
	width: 240px;
	padding-right: 25px;
	
}