@charset "utf-8";
*{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	list-style:none;
	font-size: 12px;
	line-height: 18px;
	color: #fff;
}
body {
	background: #000;
  display: block;
	position:absolute;
	width: 100%;
	height: 100%;
}

#photo_main {
position: fixed;
width: 100%;
height: 100%;
left: 0px;
}

#photo_main img{
width: 100%;
position: absolute;
z-index: 0;
}

#fb {
position: relative;
left: 120px;
float: left;
}

#vk {
position: relative;
left: 90px;
float: left;
}

#flash {
position: absolute;
height: 626px;
}

#wrapper {
margin: 0 auto;
width: 1280px;
}

#about {
background: url(../images/button1.png) no-repeat;
position: relative;
float: left;
width: 170px;
height: 38px;
top: 120px;
left: 170px;
}

#about a{
position: relative;
width: 170px;
height: 38px;
color: #fff;
font-weight: bold;
text-decoration: none;
font-size: 14px;
text-shadow: #000 0 -1px;
top: 10px;
left: 34px;
}

#uslugi {
background: url(../images/button1.png) no-repeat;
position: relative;
float: left;
width: 170px;
height: 38px;
top: 180px;
left: 470px;
}

#uslugi a{
position: relative;
width: 170px;
height: 38px;
color: #fff;
font-weight: bold;
text-decoration: none;
font-size: 14px;
text-shadow: #000 0 -1px;
top: 10px;
left: 60px;
}

#home {
position: relative;
right: 240px;
top: 10px;
float: right;
}

#home a {
font-size: 12px;
}

#catalog {
position: absolute;
background: url(../images/line.png) no-repeat;
height: 94px;
top: 370px;
left: 555px;
float: left;
}

#catalog a {
font-size: 12px;
position: relative;
top: 80px;
right: 129px;
}

#contact {
background: url(../images/button1.png) no-repeat;
position: relative;
float: left;
width: 170px;
height: 38px;
top: 360px;
right: 350px;
}

#contact a{
position: relative;
width: 170px;
height: 38px;
color: #fff;
font-weight: bold;
text-decoration: none;
font-size: 14px;
text-shadow: #000 0 -1px;
top: 10px;
left: 53px;
}

#forum {
background: url(../images/button1.png) no-repeat;
position: relative;
float: left;
width: 170px;
height: 38px;
top: 480px;
right: 70px;
}

#forum a{
position: relative;
width: 170px;
height: 38px;
color: #fff;
font-weight: bold;
text-decoration: none;
font-size: 14px;
text-shadow: #000 0 -1px;
top: 10px;
left: 63px;
}

#login{
background: url(../images/button2.png) no-repeat;
position: relative;
float: left;
width: 193px;
height: 38px;
top: 330px;
left: 30px;
}

#login a{
position: relative;
width: 170px;
height: 38px;
color: #fff;
font-weight: bold;
text-decoration: none;
font-size: 14px;
text-shadow: #000 0 -1px;
top: 10px;
left: 24px;
}

#search_link{
background: url(../images/search_title.png) no-repeat;
position: relative;
float: left;
width: 250px;
height: 90px;
top: 500px;
right: 565px;
}

#search_link a{
position: relative;
width: 170px;
height: 38px;
color: #000;
font-weight: normal;
text-decoration: none;
font-size: 14px;
text-shadow: #fff 0 -1px;
top: 37px;
left: 60px;
text-decoration: none
}


#form_search_title {
	position: absolute;

height: 106px;
top: 520px;
right: 490px;
	background: url(../images/search2.png) no-repeat;
	background-repeat: no-repeat;
}
#search_title {
	border: none;
	background: none;

	position: relative;
	bottom: 40px;
	clear: both;
	height: 30px;
	width: 168px;
	right: 73px;
	
	font-size: 13px;
	vertical-align: text-bottom;
	font-family: Verdana, Geneva, sans-serif;
	color: #000;
}
#submit_title {
	
	position: relative;
	right: 69px;
}

#search a{
position: relative;
width: 170px;
height: 38px;
color: #000;
font-weight: normal;
text-decoration: none;
font-size: 14px;
text-shadow: #fff 0 -1px;
top: 37px;
left: 60px;
text-decoration: none
}


#footer {
position: relative;
width: 1280px;
float: left;
top: 630px;
}

#share {
background: url(../images/share.png) bottom no-repeat;
position: relative;
float: left;
width: 259px;
height: 19px;
bottom: 5px;
left: 120px;
}

#copyright {
position: relative;
float: right;
right: 150px;
}