<div id = "log_f">
<p>Поздравляем. Регистрация прошла успешно.</p>
<a href="<%= refinery.root_path %>">Перейти к каталогу магазинов работу с каталогом</a>
<a href="<%= refinery.shops_shop_new_url %>">Добавить свой магазин</a>
</div>