<div id="bottom_menu1">
	<h2>Покупателям</h2>
	<div class="clear"></div>
	<ul>
    <% Refinery::Menus::Menu.where(:menu_type => 5).each do |m| %>  
      <li><%= link_to m.name, m.url  %></li>
    <% end %>
	</ul>
</div>
<div id="bottom_menu2">
	<h2>Покупателям</h2>
	<div class="clear"></div>
	<ul>
    <% Refinery::Menus::Menu.where(:menu_type => 6).each do |m| %>  
      <li><%= link_to m.name, m.url  %></li>
    <% end %>
	</ul>
</div>
<div id="bottom_menu3">
	<h2>Покупателям</h2>
	<div class="clear"></div>
	<ul>
    <% Refinery::Menus::Menu.where(:menu_type => 7).each do |m| %>  
      <li><%= link_to m.name, m.url  %></li>
    <% end %>
	</ul>
</div>
<div id="bottom_menu4">
  <h2>Покупателям</h2>
  <div class="clear"></div>
  <ul>
    <% Refinery::Menus::Menu.where(:menu_type => 8).each do |m| %>  
      <li><%= link_to m.name, m.url  %></li>
    <% end %>
	</ul>
</div>	