<div id="bottom_menu1">
	<h2>Покупателям</h2>
	<div class="clear"></div>
	<ul>
    <% Refinery::Menus::Menu.where(:menu_type => 1).each do |m| %>  
      <li><%= m.name.html_safe %></li>
    <% end %>
	</ul>
</div>
<div id="bottom_menu2">
	<h2>Покупателям</h2>
	<div class="clear"></div>
	<ul>
    <% Refinery::Menus::Menu.where(:menu_type => 2).each do |m| %>  
      <li><%= m.name.html_safe %></li>
    <% end %>
	</ul>
</div>
<div id="bottom_menu3">
	<h2>Покупателям</h2>
	<div class="clear"></div>
	<ul>
    <% Refinery::Menus::Menu.where(:menu_type => 3).each do |m| %>  
      <li><%= m.name.html_safe %></li>
    <% end %>
	</ul>
</div>
<div id="bottom_menu4">
  <h2>Покупателям</h2>
  <div class="clear"></div>
  <ul>
    <% Refinery::Menus::Menu.where(:menu_type => 4).each do |m| %>  
      <li><%= m.name.html_safe %></li>
    <% end %>
	</ul>
</div>	