<div id="bottom_menu1">
	<h2>Покупателям</h2>
	<div class="clear"></div>
	<ul>
		<li><a href="#">Каталог магазинов</a></li>
		<li><a href="#">Новости проекта</a></li>
		<li><a href="#">Пользовательское соглашение</a></li>
	</ul>
</div>
<div id="bottom_menu2">
	<h2>Покупателям</h2>
	<div class="clear"></div>
	<ul>
		<li><a href="#">Каталог магазинов</a></li>
		<li><a href="#">Новости проекта</a></li>
		<li><a href="#">Пользовательское соглашение</a></li>
		<li><a href="#">Новости проекта</a></li>
	</ul>
</div>
<div id="bottom_menu3">
	<h2>Покупателям</h2>
	<div class="clear"></div>
	<ul>
		<li><a href="#">Каталог магазинов</a></li>
		<li><a href="#">Новости проекта</a></li>
		<li><a href="#">Пользовательское соглашение</a></li>
	</ul>
</div>
<div id="bottom_menu4">
  <h2>Покупателям</h2>
  <div class="clear"></div>
  <ul>
		<li><a href="#">Каталог магазинов</a></li>
		<li><a href="#">Новости проекта</a></li>
		<li><a href="#">Пользовательское соглашение</a></li>
	</ul>
</div>	